<form action="/signup" method="POST">
   <label> Email
      <input type="email" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

 <a href="/profile"><button type="submit">Submit</button></a>
   
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}