<section class="homepage-view">

<div class="titleandsearch">

<h1 class="title-home">Welcome to <span>myFridge!</span></h1>
<h3 class="description-home">Which ingredients do you have in your fridge? <br>
   Tell us and we will give you recipes!</h3>
   <br>


<form action="/recipes-list" method="get">
  <input type="text" name="ingredients" id="search-bar" placeholder="Ex: carrot" />
  <button class="button-home" type="submit">Go</button>

</form>

</div>

</section>