<section class="homepage-view">

<div class="titleandsearch">

<h1 class="title-home">myFridge</h1>



<form action="/recipes-list" method="get">
  <input type="text" name="ingredients" id="search-bar" />
  <button class="button-home" type="submit">Go</button>

</form>

</div>
</section>