<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <button><a href="/signup" class="btn btn-primary">Sign Up</a></button>
      <button><a href="/login" class="btn btn-primary">Login</a></button>
      <form id="logout" action="/logout" method="post">
        <button>Logout</button>
      </form>
    </nav>
    {{{body}}}

    </nav>
    <script src="/js/script.js"></script>
  </body>
</html>