<head>
    <link rel="stylesheet" href="/stylesheets/pages.css" /> 
</head>


<h5>Let's create a recipe?</h5>
<br>
<a href="/profile/create" {{!-- class="btn btn-primary" --}}><button type="submit">Create
    recipe</button></a>
</div>
<br>
<br>

  <section class="Your recipes created">
<h1 class="recipes-created">Your created recipes:</h1>
 <div class="container main-created">
   <br>
   <br>
  
      <div class="recipe-listing">
          {{#each user.createdRecipes}}
            {{> createdcard this}}
          {{/each}}
      </div>
   
</section>

<br>
<br>
<section class="Your favourite recipes ">
<h1 class="recipes-fav">Your favourite recipes:</h1> 
<br>
 <div class="container main-created">

<br>
</div>
        <div class="recipe-listing">
          {{#each user.favoriteRecipes}}
            {{> favcard this}}
          {{/each}}
      </div>
    
 
</section>

