
<section class="Your recipes created">
<h1 class="recipes-created">Your recipes created:</h1>
 <div class="container main-created">

<h5>Let's create a recipe?</h5>
<a href="/profile/create" class="btn btn-primary"><button type="submit">Create
    recipe</button></a>
</div>
    
      <div class="recipe-listing">
          {{#each user.createdRecipes}}
            {{> createdcard this}}
          {{/each}}
      </div>
   
</section>


<section class="Your favourite recipes ">
<h1 class="recipes-fav">Your favourite recipes:</h1>
 <div class="container main-created">
<h5>Your favourite recipes</h5>
</div>
        <div class="recipe-listing">
          {{#each user.favoriteRecipes}}
            {{> favcard this}}
          {{/each}}
      </div>
    
 
</section>

