body {
  padding: 50px;
  font-size: 14px;
  background-image: url("/images/Strawberry\ background\ -\ 4.0.png");
  background-repeat: repeat-y;
  background-position: 100%;
}

main {
  min-height: 70vh;
}

* {
  font-family: "Quicksand", sans-serif;
}
a {
  color: #00b7ff;
}

/* h1 {
  color: 15px;
} */

.titleandsearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-home {
  font-size: 60px;
  padding: 20px;
}

.description-home {
  display: flex;
  justify-content: center;
  text-align: center;
}

.homepage-view {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

#search-bar {
  padding: 15px;
  width: 500px;
}

.button-home {
  background-color: rgb(201, 72, 72);
  padding: 17px;
  color: antiquewhite;
  border-color: rgb(201, 72, 72);
  font-size: 15px;
  border-radius: 5%;
}

footer {
  color: black;
  text-align: center;
  font-size: 10px;
  margin-top: 15px;
}

.recipes-details-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-right: 50%;
}

.name-recipe-detail {
  display: flex;
  text-align: center;
}

.favorite-btn {
  background-color: white;
  border: none;
}

.preparation-button {
  padding: 20px;

  border-radius: 15%;
  color: black;
  font-size: 20px;
}

/* .recipes-details-image{
 margin-left: 25%;
} */

.recipe-listing {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}
.recipe-card {
  max-width: 300px;
  background-color: white;
}
.recipe-card img {
  min-height: 250px;
}

.button-row {
  display: flex;
  flex-direction: center;
  gap: 1rem;
}

.form-create {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-create label {
  font-weight: bold;
  display: inline-block;
  width: 150px;
}

.form-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-edit label {
  font-weight: bold;
  display: inline-block;
  width: 150px;
}

.background-recipes-list {
  background-color: white;
  min-height: 100%;
  min-height: 100%;
}

.recipes-list {
  text-align: center;
}

.container main-created {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
