
<h1>Recipes</h1>

 <div class="container main-recipes">
 
      <div class="sticky-items">
      <form action="/recipes-list" method="get">
  <input type="text" name="ingredients" id="search-bar" placeholder="Ex: carrots, eggplants" />
  <button class="button-home" type="submit">Go</button>

</form>
       
       
    </div>
    
      <div class="recipe-listing">
          {{#each recipesList}}
            {{> recipescard this}}
          {{/each}}
      </div>
    </div>
  </div>

</div>